<div class="content-div">
  <div class="row">
    <div class="col-md-3 mb-3">
      <div class="card border-0 shadow border-l-y h-100">
         <div class="card-body">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <h4 class="fs-40 text-green">45</h4>
                </div>
                <div class="col-md-9">
                    <p>Total Number Of Tasks On Track</p>
                </div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card border-0 shadow border-l-y h-100">
           <div class="card-body">
              <div class="row align-items-center">
                  <div class="col-md-3 text-center">
                    <div class="progress">
                        <span class="title timer" data-from="0" data-to="85" data-speed="1800">85</span>
                        <div class="overlay"></div>
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <p class="mt-2 mb-0">85%</p>
                  </div>
                  <div class="col-md-9">
                      <p>Total Number Of Task Delayed</p>
                  </div>
              </div>
           </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card border-0 shadow border-l-y h-100">
           <div class="card-body">
              <div class="row align-items-center">
                  <div class="col-md-3">
                    <div class="progress">
                        <span class="title timer" data-from="0" data-to="50" data-speed="1800">85</span>
                        <div class="overlay"></div>
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <p class="mt-2 mb-0">85%</p>

                  </div>
                  <div class="col-md-9">
                      <p>Total Number Of Tasks Completed</p>
                  </div>
              </div>
           </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card border-0 shadow border-l-y h-100">
           <div class="card-body">
              <div class="row align-items-center">
                  <div class="col-md-3">
                    <div class="progress">
                        <span class="title timer" data-from="0" data-to="85" data-speed="1800">85</span>
                        <div class="overlay"></div>
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <p class="mt-2 mb-0">85%</p>
                  </div>
                  <div class="col-md-9">
                      <p>Total Number Of Tasks</p>
                  </div>
              </div>
           </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="card border-0 shadow">
            <div class="card-body">
               <div class="row">
                  <div class="col-md-4">
                    <h5 class="card-title">Tasks Distribution</h5>
                    <div class="chart-container position-relative">
                        <app-doughnut-graph></app-doughnut-graph>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h5 class="card-title">Tasks by Beinex Sectors </h5>
                    <div class="bar-container">
                        <app-stacked-bar [data]="stackedBarGraphData1"></app-stacked-bar>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h5 class="card-title">Tasks by Auraa</h5>
                    <div class="bar-container1">
                        <app-stacked-bar [data]="stackedBarGraphData2"></app-stacked-bar>
                    </div>
                  </div>
               </div>
            </div>
        </div>
    </div>
  </div>
</div>